.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
#pages li a.previous_page, #pages li a.next_page {
    border: 1px solid #CCC;
    padding: 10px 0;
    color: #CCC;
    cursor: pointer;
}
#pages li a {
    margin-right: 10px;
    border-radius: 50%;
    border: 0;
}
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 10px 0;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    height: 45px;
    width: 45px;
}
#pages li a.active {
    border: 1px solid rgb(0, 177, 135);
}
.filter__map.fullscren
{
    position:fixed;
    top:-30px;
    left:0;
    height:100%;
    width:100%;
    z-index: 991;
}

#retailer_map
{
    height: 100%;
    width: 100%;
}
.full_screenmap
{
    display: none !important;
    font-size: 26px;
    color: #888;
    display: inline-block;
    padding: 8px;
    background-color: #FFF;
    border-radius: 3px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    z-index: 992;
    position: relative;
    cursor: pointer;
    border: 1px solid #CCC;
    opacity: 0.7;
}


.marker {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow-x: visible;
    background-color: #36aa9e;
}
.marker::after {
    font-size: 28px;
    font-weight: bold;
    display: block;
    position: absolute;
    top: 8px;
    left: 5px;
}
.marker:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 18px solid transparent;
    border-top: 31px solid #36aa9e;
    bottom: -18px;
    left: 0px;
}

.marker-circle::after
{
    content:'\f192';
    color: #FFF;
    font-family: FontAwesome;
}
.leaflet-marker-icon
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.marker-home::after
{
    /*content: url('../assets/icons/place-tag.svg');*/
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    border:2px solid #048169;
    background-color: #00AB8A;
    border-radius: 50%;

}

.marker-user:after{
    content: url('../assets/icons/marker-user.svg');
}

.marker-star::after
{
    content: '\f005';
    color: #FFF;
    left: 4px;
    font-family: FontAwesome;
}

.marker-restaurants::after
{
    content: '\f192';
    color: #FFF;
    font-size: 17px;
    left: 10px;
    text-align: center;
    font-family: FontAwesome;
}
.marker-pets::after
{
    content: '\f211';
    color: #FFF;
    font-size: 17px;
    left: 10px;
    text-align: center;
    font-family: FontAwesome;
}
.marker-coffee::after
{
    content: '\f0f4';
    color: #FFF;
    font-size: 17px;
    left: 10px;
    text-align: center;
    font-family: FontAwesome;
}
.marker-fitness::after
{
    content: '\f05b';
    color: #FFF;
    font-size: 17px;
    left: 10px;
    text-align: center;
    font-family: FontAwesome;
}
.marker-grocery::after
{
    content: '\f10c';
    color: #FFF;
    font-size: 17px;
    left: 10px;
    text-align: center;
    font-family: FontAwesome;
}
.marker-beauty::after
{
    content: '\f06c';
    color: #FFF;
    font-size: 17px;
    left: 10px;
    text-align: center;
    font-family: FontAwesome;
}
.marker-nightlife::after
{
    content: '\f000';
    color: #FFF;
    font-size: 17px;
    left: 10px;
    text-align: center;
    font-family: FontAwesome;
}
.marker-banks::after
{
    content: '\f19c';
    color: #FFF;
    font-size: 13px;
    left: 11px;
    text-align: center;
    font-family: FontAwesome;
}
.marker-banks::after
{
    content: '\f19c';
    color: #FFF;
    font-size: 13px;
    left: 11px;
    text-align: center;
    font-family: FontAwesome;
}
.marker-schools::after
{
    content: '\f02d';
    color: #FFF;
    font-size: 17px;
    left: 10px;
    text-align: center;
    font-family: FontAwesome;
}
.marker-bus::after
{
    content: '\f207';
    color: #FFF;
    font-size: 17px;
    left: 10px;
    text-align: center;
    font-family: FontAwesome;
}

.marker-violate:after
{
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    background-color: transparent;
    border:5px solid #7530B2;
    border-radius: 50%;
}

.marker-red:after{
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    background-color: transparent;
    border:5px solid #e74430;
    border-radius: 50%;
}

.marker-orange:after
{
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    background-color: transparent;
    border:5px solid #FF9700;
    border-radius: 50%;
}
.marker-violet:after
{
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    background-color: transparent;
    border:5px solid #7530B2;
    border-radius: 50%;
}



.hidden
{
    display: none !important;
}
#street-map, #transportation-map, #service-map, #satelite-map, #buildings, #school-map
{
    height: 100% !important;
    width: 100% !important;
}

.search_category.active
{
    background-color: #36AA9E;
    color: #FFF;
}
.search_category
{
    margin-right: 5px;
}

.collection_filtered
{
    display: block;
    position: absolute;
    left: 41px;
    right: 41px;
    margin-top: 41px;
    background-color: #FFF;
    border: 1px solid #CCC;
}
.collection_filtered ul
{
    list-style: none;
}
.collection_filtered ul li
{

}
.mapbox-directions-instructions
{
    height: 260px;
    max-height: 260px;
}
#searchresults
{
    position: absolute;
    z-index: 999;
    background: #FFF;
    border: 1px solid #CCC;
    overflow: hidden;
}
#searchlist
{
    list-style: none;
    max-height: 400px;
    overflow-y: scroll;
    color: #323C47;
    text-align: left;
}
li.list_title
{
    background-color: #F0EAEA;
    padding: 5px 15px;
}
#searchlist li {
    padding: 2px 30px 2px 15px;
}
#searchlist li.list-item
{
    cursor: pointer;
}
#searchlist li.list-item:hover
{
    background-color: #F6F6F6;
}
.map-loader
{
    background-color: #FFF;
    z-index: 9999;
    border: 1px solid #CCC;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute !important;
}
.filter
{
}
.bus_metro span.select2
{
    float:right;
}

.primery_description
{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    float: right;
    padding: 5px;
}
.primery_description span{

}
.primery_description .services
{
    display: inline;
    margin-left: 10px;
}


span.fild-error
{
    position: absolute;
    color: #e30;
    font-size: 12px;
    font-weight: normal;
    z-index: 9;
    border: 1px solid #e30;
    padding: 5px 10px;
    margin-top: -40px;
    background-color: #FFF;
    margin-left: -45px;
    border-radius: 10px;
    font-family: arial;
    animation-name: notify;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: none;
    text-align: left;
}
span.fild-error ul, span.fild-error ol
{
    padding-left:10px;
}
span.fild-error:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #f00;
    position: absolute;
    margin-top: 22px;
    left: 25%;
}
.map-error:after
{
    margin-top:6px !important;
}
@keyframes notify {
    0%   {margin-top: -40px;}
    50%   {margin-top: -45px;}
    100% {margin-top: -40px;}
}
.add-property__submit .fa-refresh
{
    -webkit-animation: rotate 1s linear infinite;
    -moz-animation: rotate 1s linear infinite;
    -ms-animation: rotate 1s linear infinite;
    -o-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
}
@-webkit-keyframes rotate /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.not_fond
{
    text-align: center;
    width: 100%;
    position: relative;
    margin: 60px auto;
    color: #CCC;
}
.my-properties-block
{
    margin-top:15px;
}
.load_more
{
    margin:10px 0;
}
.closing_costs_table
{
    margin-top:70px;
}
.closing_costs_table th{
    text-align: left;
}
.custom-select.pull-right+span
{
    float: right;
}
.custom-select.pull-left+span
{
    float: left;
}
#mortage_value
{
    float: left;
    margin-top:10px;
}
.residental__price span.size
{
    color: #B4B4B4;
    letter-spacing: -2px;
}
.per_meter
{
    color: #444;
    font-size: 20px;
    display: inline-block;
    margin-left: 15px;
}
#transportation-map .place_details
{
    padding: 5px;
}
.offer_tag
{
    display: inline-block;
    margin-left: 15px;
    border: 1px solid #FF9700;
    padding: 0px 10px 0 0;
    font-size: 14px;
    color: #FFF;
    background-color: #FF9700;
    border-radius: 3px;
    position: relative;
}
.offer_tag:before
{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 15px solid #FF9700;
    position: absolute;
    left: -15px;
    top: -1px;
}
.school_popup, .service_popup
{
    padding:10px;
}
/* shubham.css.start 30-jan-2018*/
.guarantee_tag
{
    display: inline-block;
    margin-left: 15px;
    border: 1px solid #00AB8A;
    padding: 0px 10px 0 0;
    font-size: 14px;
    color: #FFF;
    background-color: #00AB8A;
    border-radius: 3px;
    position: relative;
}
.guarantee_tag:before
{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 15px solid #00AB8A;
    position: absolute;
    left: -15px;
    top: -1px;
}
/* shubham.css.end*/
.search-field__input
{
    padding-right:40px;
}
.search-field
{
    position: relative;
}
.reset-search
{
    display: block;
    position: absolute;
    right: 26%;
    top: 11px;
    color: #B0B0B0;
    font-size: 12px;
    padding: 0px 4px 2px;
    border: 1px solid #CCC;
    border-radius: 50%;
    cursor: pointer;
}
.district_hoods_slider .img-gallry
{
    min-height: 300px;
    background-size:cover;
    background-position: center;
}
.district_hoods_slider .img-gallry img
{
    display: none;
}


.scholllist li::before {
    content: '';
    display: block;
    height: 6px;
    width: 6px;
    border: 1px solid #000;
    position: absolute;
    top: 5px;
    left: -24px;
    border-radius: 50%;
    background: #000;
}

.scholllist li {
    position: relative;
}

.scholllist {
    padding-left: 28px;
    list-style: none;
    position: relative;
}

.chart_tooltip
{
    padding: 0;
    list-style: none;
    padding-left: 5px;
    margin-bottom: 10px;
}
.chart_tooltip li{
    padding-left: 30px;
    position: relative;
}
.chart_tooltip li:before{
    content: '';
    display: block;
    width: 10px;
    border: 1px solid;
    position: absolute;
    left: 0;
    height: 10px;
    top: 5px;
    border-radius: 50%;
}
.chart_tooltip li.green:before{
    background-color: rgba(0, 171, 138, 0.5);
    border-color: rgba(0, 171, 138, 1);
}
.chart_tooltip li.orange:before{
    background-color: rgba(255, 151, 0, 0.5);
    border-color: rgba(255, 151, 0, 1);
}
.chart_tooltip li.violet:before{
    background-color: rgba(117,48,178, 0.5);
    border-color: rgba(117,48,178, 1);
}

.filter__section--extra .checkbox label img,
.checkbox--small label img {
    width: 100%;
}

.save_wishlist_block
{
    float: right;
}
.save_wishlist
{
    border: 1px solid #00ab8a;
    padding: 5px 10px;
    padding-left: 30px;
    border-radius: 3px;
    position: relative;
    background-color: #00AB8A;
    color: #FFF;
    cursor: pointer;
}
.save_wishlist:before{
    content: '\f005';
    display: block;
    font-family: fontAwesome;
    position: absolute;
    left: 8px;
}

.card__save {
    position: absolute;
    z-index: 10;
    top: 15px;
    right: 15px;
    height: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 0 10px 0 35px;
    text-align: left;
    background-position: 12px center;
    background-repeat: no-repeat;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 10px);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.card__save.active{
    background-color: #00AB8A;
}
.card__save:before{
    content: '\f005';
    display: block;
    font-family: fontAwesome;
    position: absolute;
    left: 10px;
    color: #ffffff;
}
.card__save.active:before{
    color: rgb(255, 237, 33);
}

.help_tooltip
{
    display: inline-block;
    margin-left: 10px;
    position: relative;
}
.help_tooltip:hover span{
    display: block;
}
.help_tooltip span{
    display: none;
    position: absolute;
    color: #FFF;
    background-color: rgba(0,0,0,0.6);
    font-size: 12px;
    font-weight: normal;
    padding: 5px;
    top: 0;
    left: 30px;
    text-align: center;
    border-radius: 3px;
    font-family: New Times Roman;
    z-index: 9;
}

.help_tooltip span:before {
    content: '';
    display: block;
    position: absolute;
    left: -17px;
    border-width: 10px 15px 10px 4px;
    border-color: transparent #666 transparent transparent;
    border-style: solid;
    top: 2px;
}
.mfp-bg
{
    z-index: 99998;
}
.mfp-wrap
{
    z-index: 99999;
}
.orange{
    color: #ff9700 !important;
}
.green{
    color: #00ab8a !important;
}
.purple{
    color: #7731b0 !important;
}
.triangle_container
{

}
.save_upto
{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.refund_percent
{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 60px 120px 60px;
    border-color: transparent transparent #333 transparent;
    float: left;
}
.refund_percent p
{
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0px;
    font-weight: bold;
    color: #FFF;
    left: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

.refund_content a{
    text-decoration: none;
}
.savings
{
    color: #00AB8A;
}
#target4 .radio label
{
    padding-left: 35px;
}
#target4 .radio label span{
    display: none;
}
#target4 .radio img
{
    position: absolute;
    width: 28px;
    margin-top: -3px;
    left: 0;
}
.card__footer,
.card__title
{
    padding: 12px 0px;
}

.card--compare .card__desc
{
    font-size: 12px;
    font-weight: normal;
    float: right;
}
.card__footer table{
    width: 100%;
}
.card__footer
{
    width:100%;
}
.card__footer table tr td:last-child {
    text-align: right;
}
.card--compare .card__footer
{
    padding-bottom:0;
}
.big-slider
{
    height: 608px;
    overflow-y: hidden;
}
.lyf-style
{
    height: 600px;
    overflow-y: hidden;
}
.slider_loader
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 9;
}
.district_hoods_slider .slick-arrow
{
    font-size: 0;
    border: 0;
    position: absolute;
    z-index: 99;
    top: 41%;
    color: #FFF;
    background-color: transparent;
    margin: auto;
    margin-top: -2px;
    height: 50px;
    width: 40px;
    display: block;
    line-height: 0.7;
}
.district_hoods_slider .slick-arrow:hover
{
    background-color: transparent;
}
.district_hoods_slider .slick-prev
{
    left: 25px;
}
.district_hoods_slider .slick-next
{
    right: 25px;
}
.district_hoods_slider .slick-prev:before{
    content: '\f104';
    font-family: fontAwesome;
    font-size: 70px;
}
.district_hoods_slider .slick-next:before{
    content: '\f105';
    font-size: 70px;
    font-family: fontAwesome;
}